@import url("about.css");
@import url("blogs.css");
@import url("index.css");
@import url("font.css");
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@300&family=Nunito:ital,wght@0,300;0,700;1,300&family=Prosto+One&family=Skranji&display=swap');

* {
    text-align: center;
}

body {
    background: rgb(199, 199, 199);
    font-family: Nunito
}
h1 {
    background: rgb(175, 175, 175);
    font-family: Prosto One
}
div {
    background: rgb(175, 175, 175);
    border-color: rgb(204, 204, 204);
    border-style:groove
}
footer {
    background: rgb(175, 175, 175);
    border-color: rgb(204, 204, 204);
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding:5px
}
img {
    background: rgb(175, 175, 175);
    border:4px;
    border-color: rgb(146, 146, 146);
    border-style:groove;
}

b, strong {
    color:red
}

i, em {
    color:blueviolet
}

u { 
    color:rgb(166, 255, 0)
}

.btn{
    background-color: rgb(97, 97, 97);
    color: #fff;
    border-color: rgb(51, 51, 51);
  }
  .btn:hover{
    background-color: rgb(97, 97, 97);
    background-color: #bbbbbb;
    border-color: rgb(51, 51, 51);
  }
  